*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background: linear-gradient(-45deg, 
    #1e1e2f,
    #7a223b,
    #ff7b00,
    #1e1e2f);

    background-size:400% 400%;

    animation:bgmove 10s ease infinite;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4a0202df;
    color:white;
    padding:26px 15px;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:ivory;
    text-decoration:none;
}

section{
    padding:60px 10%;
}
.controls input
{
    color:#530101
}
.hero{
    text-align:center;
}
.desc{
    color: wheat;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px; 
    padding:8px 8px;
    background-color: #390000;
    font-size: 20px;
}
.desc2{
    font-size: 25px;
    margin-bottom: 150px;
}
.tagline{
    font-size:1.3rem;
    margin:15px 0;
    font-size: 33px;
}
h1{
    color: #390000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:80px ;
    margin-top: 70px;
}
h2{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom:20px;
    color: #390000;
    font-size: xx-large;
    text-decoration: underline;
    font-size: 40px;
}

.socials{
    margin-top:15px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.socials a{
    margin-right:15px;
    color:ivory;
    border-radius: 5px;
    padding:8px 8px;
    background-color:#390000;
    font-size: 25px;
}

.controls{
    margin-bottom:20px;
}

.controls input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border-radius: 5px;
    background-color:antiquewhite;
    border: none;
    font-size: 15px;
}

.buttons{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.buttons button{
    padding:10px 15px;
    border:none;
    background:#390000;
    color:ivory;
    cursor:pointer;
    border-radius: 5px;
}
.about
{
    font-family: Arial, Helvetica, sans-serif;
    color: #390000;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px; 
    padding:8px 8px;
    background-color: wheat;
    font-size: 25px;
}
.event-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:wheat;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

table{
    width:100%;
    border-collapse:collapse;
    background: wheat;
    box-shadow:0 2px 5px rgba(0,0,0,0.2); 
    font-size: 25px;
}

th,td{
    padding:12px;
    text-align:center;
}

th{
    background:#530101;
    color:ivory;
}
td{
    color: #390000;
}
.faq-item{
    margin-bottom:15px;
    font-size: 25px;
}

.faq-question{
    width:100%;
    padding:15px;
    text-align:left;
    background:#530101;
    color:ivory;
    border:none;
    cursor:pointer;
    font-size: 25px;
}

.faq-answer{
    display:none;
    padding:15px;
    background:ivory;
    font-size: 25px;
}

footer{
    text-align:center;
    padding:20px;
    background:#530101;
    color:ivory;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:10px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
}